body {
  background-color: lightblue;
}

p {
  font-size:15pt
  color: navy;
  margin-left: 20px;
}
h1 {
  
  color: red;
  margin-left: 20px;
}
p {
  
  color: blue;
  margin-left: 20px;
}
h2 {
  
  color: orange;
  margin-left: 20px;
}